{% if config.theme.logo %}
  <span class="mach-logo">
    <img class="mach-logo__image mach-logo__image--light" src="{{ 'img/logo-header.png' | url }}" alt="{{ config.site_name }}" width="512" height="159">
    <img class="mach-logo__image mach-logo__image--dark" src="{{ 'img/logo-header-dark.png' | url }}" alt="{{ config.site_name }}" width="512" height="159">
  </span>
{% else %}
  {% set icon = config.theme.icon.logo or "material/library" %}
  {% include ".icons/" ~ icon ~ ".svg" %}
{% endif %}
